In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('datasets/kc_house_data.csv')
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [3]:
# Mostre o conjunto de dados ordenados pela coluna price
df.sort_values('price')

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
1149,3421079032,20150217T000000,75000.0,1,0.00,670,43377,1.0,0,0,...,3,670,0,1966,0,98022,47.2638,-121.906,1160,42882
15293,40000362,20140506T000000,78000.0,2,1.00,780,16344,1.0,0,0,...,5,780,0,1942,0,98168,47.4739,-122.280,1700,10387
465,8658300340,20140523T000000,80000.0,1,0.75,430,5050,1.0,0,0,...,4,430,0,1912,0,98014,47.6499,-121.909,1200,7500
16198,3028200080,20150324T000000,81000.0,2,1.00,730,9975,1.0,0,0,...,5,730,0,1943,0,98168,47.4808,-122.315,860,9000
8274,3883800011,20141105T000000,82000.0,3,1.00,860,10426,1.0,0,0,...,6,860,0,1954,0,98146,47.4987,-122.341,1140,11250
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1448,8907500070,20150413T000000,5350000.0,5,5.00,8000,23985,2.0,0,4,...,12,6720,1280,2009,0,98004,47.6232,-122.220,4600,21750
4411,2470100110,20140804T000000,5570000.0,5,5.75,9200,35069,2.0,0,0,...,13,6200,3000,2001,0,98039,47.6289,-122.233,3560,24345
9254,9208900037,20140919T000000,6885000.0,6,7.75,9890,31374,2.0,0,4,...,13,8860,1030,2001,0,98039,47.6305,-122.240,4540,42730
3914,9808700762,20140611T000000,7062500.0,5,4.50,10040,37325,2.0,1,2,...,11,7680,2360,1940,2001,98004,47.6500,-122.214,3930,25449
7252,6762700020,20141013T000000,7700000.0,6,8.00,12050,27600,2.5,0,3,...,13,8570,3480,1910,1987,98102,47.6298,-122.323,3940,8800

In [4]:
# 1 - Quantas casas estao disponiveis para compraa?
df.shape[0]

21613

In [5]:
# 2 - Quantos atributos as casas possuem?
df.shape[1]

21

In [6]:
# 3 - Quais sao os atributos das casas?
df.columns

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15'],
      dtype='object')

In [7]:
# 4 - Qual a casa mais cara?
df.loc[df['price'].argmax()]

id                    6762700020
date             20141013T000000
price                    7.7e+06
bedrooms                       6
bathrooms                      8
sqft_living                12050
sqft_lot                   27600
floors                       2.5
waterfront                     0
view                           3
condition                      4
grade                         13
sqft_above                  8570
sqft_basement               3480
yr_built                    1910
yr_renovated                1987
zipcode                    98102
lat                      47.6298
long                    -122.323
sqft_living15               3940
sqft_lot15                  8800
Name: 7252, dtype: object

In [8]:
# 5 - Qual a casa com maior numero de quartos?
df.loc[df['bedrooms'].argmax()]

id                    2402100895
date             20140625T000000
price                     640000
bedrooms                      33
bathrooms                   1.75
sqft_living                 1620
sqft_lot                    6000
floors                         1
waterfront                     0
view                           0
condition                      5
grade                          7
sqft_above                  1040
sqft_basement                580
yr_built                    1947
yr_renovated                   0
zipcode                    98103
lat                      47.6878
long                    -122.331
sqft_living15               1330
sqft_lot15                  4700
Name: 15870, dtype: object

In [9]:
# 6 - Qual a soma total de quartos do conjunto de dados?
df['bedrooms'].sum()

72854

In [10]:
# 7 - Quantas casas possuem 2 banheiros?
len(df[df['bathrooms'] == 2])

1930

In [11]:
# 8 - Qual o preco medio de todas as casas?
df['price'].mean()

540088.1417665294

In [12]:
# 9 - Qual o preco medio de casas com 2 banheiros?
df[df['bathrooms'] == 2]['price'].mean()

457889.7186528497

In [13]:
# 10 - Qual o preco minimo entre as casas com 3 quartos?
df[df['bedrooms'] == 3]['price'].min()

82000.0

In [4]:
# 11 - Quantas casas possuem mais de 300 metros quadrados na sala de estar?
df['sqft_living'] = df['sqft_living'] * 0.092
df[df['sqft_living'] > 300].shape[0]

2141

In [24]:
# 12 - Quantas casas tem mais de 2 andares?
df[df['floors'] > 2].shape[0]

782

In [25]:
# 13 - Quantas casas tem vista para o mar?
df[df['waterfront'] == 1].shape[0]

163

In [26]:
# 14 - Das casas com vista para o mar, quantas tem 3 quartos?
df[(df['waterfront'] == 1) & (df['bedrooms'] == 3)].shape[0]

64

In [8]:
# 15 - Das casas com mais de 300 metros quadrados na sala de estar, quantas tem mais de 2 banheiros?
df[(df['sqft_living'] > 300) & (df['bathrooms'] > 2)].shape[0]

2088

In [14]:
df.to_csv('datasets/aula01.csv', index=False)